---
import Social from "./Social.astro";
---

<footer class="py-12 border-t border-brand-primary/10">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-6"
  >
    <p class="text-brand-dark/50 text-sm italic">
      &copy; {new Date().getFullYear()} - JuanMa CorDEVro. Hecho con pasión, Astro
      y mucho café.
    </p>
    <Social />
  </div>
</footer>
