---
import Navigation from "./Navigation.astro";
---

<header class="header">
  <img class="header-pic" src="../public/Logo.png" alt="Foto de perfil" />

  <nav>
    <Navigation />
  </nav>
</header>
