---
const networks = [
  {
    name: "GitHub",
    url: "https://github.com/corDEVro",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/juan-manuel-cor-gan",
    logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg",
  },
];
---

<div class="flex gap-6 items-center">
  {
    networks.map((net) => (
      <a
        href={net.url}
        target="_blank"
        rel="noopener noreferrer"
        class="w-8 h-8 transition-transform hover:scale-125 duration-300"
      >
        <img
          src={net.logo}
          alt={net.name}
          class="w-full h-full object-contain"
        />
      </a>
    ))
  }
</div>
